<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
		</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> {% block stylesheets %}{% endblock %}
		</head>
		<body>
            <div class="container text-center">
                <h3>Monitoring : {{ status.website.url }} ne répond pas</h3>
                <h4> résumé de l'incident</h4>
                <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Site</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>{{status.createdAt | date("d-m-Y à H:i:s")}}</td>
                                <td>{{status.website.name}} : {{status.website.url}}</td>
                                <td>{{status.code}}</td>
                            </tr>
                    </tbody>

                </table>
            <small> ceci est un e-mail automatique, merci de ne pas y répondre</small>


            </div>
			<script src="https://kit.fontawesome.com/842b81c85f.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		</body>
	</html>
